<!DOCTYPE html>
<html>
	<head>
		<script src="/assets/htmx.min.js"></script>
	</head>
	<body>
		<form hx-put="/contact/1" hx-target="this" hx-swap="innerHTML">
			<div>
				<label>First Name</label>
				<input type="text" name="firstName" value="<%= @contact.first_name %>">
			</div>
			<div class="form-group">
				<label>Last Name</label>
				<input type="text" name="lastName" value="<%= @contact.last_name %>">
			</div>
			<div class="form-group">
				<label>Email Address</label>
				<input type="email" name="email" value="<%= @contact.email %>">
			</div>
			<button class="btn">Submit</button>
			<button class="btn" hx-get="/contact/1">Cancel</button>
		</form>
	</body>
</html>
